<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
  <hr>
  <%= link_to 'Back', posts_path %>
</p>


<% @post.resized_images.each do |img| %>
  <%= image_tag(img) %>
<% end %>


